html, body, #root{
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: $Other-font;
}

.main{
    display: table;
    height: 100%;
    &-wrapper{
        display: table-cell;
        vertical-align: middle;
    }
}
.tabContent{
    padding: 1.5rem 0;
}

.box-wrapper{
    background-color: $primary;
    border-radius: $border-radius;
    padding: 2rem;
}