.nav-tabs {
    .nav-link {
      border-color: $secondary;
      color: $nav-tabs-link-color;
      width: 50%;
      text-align: center;
      &:hover{
          background-color: $nav-tabs-link-hover-bg;
      }
      &:active, &.active{
          &:hover{
            background-color: $nav-tabs-link-active-bg;
          }
      }
    }
  
    // .nav-link.active,
    // .nav-item.show .nav-link {
    //   color: $nav-tabs-link-active-color;
    //   background-color: $nav-tabs-link-active-bg;
    //   border-color: $nav-tabs-link-active-border-color;
    // }
  
  }