// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);


$primary:       #32363a;
$secondary:     #d1ce56;
$danger:        #fb5a34;
$hover:         #4B5157;

$enable-shadows:            true;

// Fonts
$font-size-base:              1rem;
$font-family-sans-serif:      'Open Sans', sans-serif;
$font-family-base:            $font-family-sans-serif;
$Other-font:                 'Rajdhani', sans-serif;

$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Body

$body-bg:                   $white;
$body-color:                #efeeeb;

//
$border-radius: 5px;

//
$font-weight-base: 400;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$input-btn-font-family:     'Rajdhani', sans-serif;
$input-btn-font-size:       1.5rem;
$input-btn-border-width:    0;
$input-btn-font-size:       2rem;

// Buttons

$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-border-width:            $input-btn-border-width;
$btn-font-weight:             $font-weight-normal;
$btn-border-radius:           0px;

// Navs

$nav-link-disabled-color:           rgba($secondary, .5);
$nav-tabs-border-color:             $secondary;
$nav-tabs-border-radius:            0px;
$nav-tabs-link-hover-border-color:  $secondary;
$nav-tabs-link-hover-bg:            $hover;
$nav-tabs-link-color:               $secondary;
$nav-tabs-link-active-color:        $primary;
$nav-tabs-link-active-bg:           $secondary;
$nav-tabs-link-active-border-color: $secondary;

$nav-pills-border-radius:           0px;
$nav-pills-link-active-color:       $primary;
$nav-pills-link-active-bg:          $secondary;

// Grid columns

$grid-gutter-width:           15px;

// Buttons + Forms
$input-btn-padding-x-sm:      .8rem;
$input-btn-padding-x:         0.6rem;
$input-btn-padding-y:         .3rem;
$input-btn-focus-width:       .02rem;
$input-btn-focus-color:       rgba($white, .25);
$input-btn-focus-box-shadow:  0 0 5px $input-btn-focus-width $input-btn-focus-color;

// Forms
$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-family:                     $font-family-base;
$input-font-size:                       0.8rem;
$input-font-weight:                     $font-weight-base;
$input-border-width:                    1px;
$input-border-radius:                   0px;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-bg:                              $primary;
$input-disabled-bg:                     $gray-200;

$input-color:                           $white;
$input-border-color:                    $gray-600;

$input-placeholder-color:               $gray-600;


